@charset "utf-8";
/* CSS Document */
<style>
.pagination{
padding: 2px;
}
#paging {
	float: left;
	width: 600px;

}

.pagination {
	font-size: 12px;
	padding: 10px;
	margin: 5px;
}


.pagination ul{
	margin: 0;
	padding: 0;
	text-align: center; /*Set to "right" to right align pagination interface*/
	font-size: 12px;
	width: 100%;
	text-decoration: none;
}

.pagination a, .pagination a:visited{
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #2c2c2c;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	color: #ff9900;
}

.pagination a:hover, .pagination a:active{
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	background-color: #1e1e1e;
	border: 1px solid #2c2c2c;
	color: #ff9900;
}
</style>  
